PORT=5000
MONGO_URI=mongodb://localhost:27017/cargo_monitor
JWT_SECRET=cfa762d9fc884e6706aa24e3bca0c542806a0bcfdca182e70c54d6624ad66303
MQTT_BROKER=mqtt://localhost:1883
MQTT_USER=cargo_dashboard
MQTT_PASSWORD=dashboard_password
